main {
    max-width: 320px;
    margin: 3rem auto;
}

button {
    border: 2px solid #4B5563;
    border-radius: 3px;
    color: #4B5563;
    background: #E5E7EB;
    padding: 0.5rem 1rem;
    cursor:pointer;
}

button:hover {
    background: #4B5563;
    color:white;
}

input {
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #4B5563;
    margin-left: 0.5rem;
}

label {
    display: flex;
    align-items: center;
}
label > span {
    flex: 1;
}